@import url("https://fonts.googleapis.com/css?family=Bitter|Carter+One|Roboto");
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*-----Basic Styles-----*/
h1 {
  font-family: 'Carter One', cursive;
  font-size: 3rem;
  color: #4062bb;
}

@media (min-width: 768px) {
  h1 {
    font-size: 3.5rem;
  }
}

h2, h3, h4, h5, h6 {
  font-family: 'Bitter', serif;
  color: #00a589;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ecebe4;
  color: #153b50;
}

.cta-btn {
  padding: 10px 30px;
  background-color: transparent;
  border: 5px solid #ff8d1b;
  color: #ff8d1b;
  border-radius: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  font-size: 1.2rem;
  text-align: center;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

.cta-btn:hover {
  background-color: #ff8d1b;
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/*-----Navigation-----*/
.header-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: auto;
  padding: 0;
  z-index: 25;
}

nav {
  max-width: 240px;
  margin: 0 auto 0 0;
  background: -webkit-gradient(linear, left top, right top, from(#ffb86f), to(#ff8d1b));
  background: linear-gradient(to right, #ffb86f, #ff8d1b);
  border: 10px solid white;
  border-radius: 0 0 20px 0;
  border-top: none;
  border-left: none;
  -webkit-box-shadow: 0 0 60px 1px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 60px 1px rgba(0, 0, 0, 0.4);
}

nav .navbar-toggler-icon {
  background-color: white;
  border-radius: 50%;
  color: #4062bb;
  width: 75px;
  height: 75px;
  position: absolute;
  right: 10px;
  top: 20px;
  -webkit-box-shadow: 0 0 25px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 25px 1px rgba(0, 0, 0, 0.3);
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

nav .navbar-toggler-icon:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

nav ul {
  position: static;
  top: 100px;
  margin-left: 20px;
}

nav ul img {
  width: 100px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 25px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 25px 1px rgba(0, 0, 0, 0.3);
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

nav ul a:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0 5px 25px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 25px 1px rgba(0, 0, 0, 0.3);
}

@media (min-width: 768px) {
  .header-wrapper {
    right: 0;
    padding: 0 10px;
  }
  nav {
    min-width: 768px;
    max-width: 100%;
    width: 100%;
    margin: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-left: 10px solid white;
    border-radius: 0 0 20px 20px;
  }
  nav ul {
    position: absolute;
    top: 14px;
    right: 30px;
  }
}

/*-----Intro Section-----*/
#intro-section {
  min-height: 50vh;
  padding-top: 100px;
  padding-bottom: 50px;
  background: url("../img/inspiration-geometry.png"), -webkit-gradient(linear, left top, right top, color-stop(50%, #ecebe4), to(rgba(22, 244, 208, 0.2)));
  background: url("../img/inspiration-geometry.png"), linear-gradient(to right, #ecebe4 50%, rgba(22, 244, 208, 0.2));
  font-size: 1.2rem;
}

#intro-section i {
  color: #443742;
  margin-right: 10px;
}

@media (min-width: 768px) {
  #intro-section {
    padding-top: 150px;
  }
}

/*-----Index Carousel-----*/
#carousel-section {
  height: 70vh;
  background-color: #153b50;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#carousel-section figure {
  height: 100%;
  width: 100%;
  margin: 0;
  background-position: center;
  background-size: cover;
}

#carousel-section figure:first-child {
  background-image: url("../img/boys.jpg");
}

#carousel-section figure:nth-child(2) {
  background-image: url("../img/baby.jpg");
}

#carousel-section figure:last-child {
  background-image: url("../img/kids.jpg");
}

#carousel-section ol li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0 5px;
}

#carousel-section .carousel-caption {
  width: 100%;
  height: 40%;
  padding: 20px 50px;
  left: 0;
  right: 0;
  bottom: auto;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
}

#carousel-section .carousel-caption h2 {
  color: #16f4d0;
}

#carousel-section .carousel-caption p {
  max-width: 450px;
}

@media (min-width: 768px) {
  #carousel-section {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

/*-----Footer-----*/
footer {
  padding: 50px 0;
  background-color: #153b50;
  color: #ecebe4;
  position: relative;
  z-index: 500;
  font-size: 0.9rem;
}

footer h6 {
  color: #16f4d0;
  font-size: 1.2rem;
}

footer a {
  color: #ffb86f;
}

footer a:hover {
  color: #ff8d1b;
}

footer i {
  margin-right: 5px;
  color: #ecebe4;
}

#bottom-section {
  background-color: #1b1a1d;
  color: #ecebe4;
  padding: 20px 0;
  text-align: center;
}

#bottom-section a {
  color: #ffb86f;
}

#bottom-section a:hover {
  color: #ff8d1b;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
/*# sourceMappingURL=main.css.map */